extends ./layout/index


block contenido
    main.container.mt-5 
        .row
           .col-md-5 
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
           .col-md-7
            h1 #{pagina}
            blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, praesentium! Aut sit illo, voluptate quos ipsa nihil unde optio vel voluptas dicta numquam quo soluta, architecto sint a saepe! Fuga! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem illo, ea velit laboriosam quasi alias voluptatibus nostrum blanditiis, enim ab nemo corrupti ipsa autem delectus minus itaque, repudiandae rerum libero!

            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur animi at doloremque, aut asperiores unde obcaecati deleniti sapiente ullam cumque! Beatae numquam harum delectus necessitatibus commodi doloribus ullam cum? Aliquid.


            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi repudiandae corporis eum nostrum autem. Veniam, natus iusto veritatis fuga deleniti ut aliquid quos voluptatibus voluptatem dolorum vel unde deserunt iste!


    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo vero iusto suscipit ipsa odio hic culpa, aliquam impedit expedita iste itaque. Veniam unde blanditiis distinctio dicta nesciunt cumque? Omnis, officiis?


                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo vero iusto suscipit ipsa odio hic culpa, aliquam impedit expedita iste itaque. Veniam unde blanditiis distinctio dicta nesciunt cumque? Omnis, officiis?

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo vero iusto suscipit ipsa odio hic culpa, aliquam impedit expedita iste itaque. Veniam unde blanditiis distinctio dicta nesciunt cumque? Omnis, officiis?